# Ignore everything
*

# Except
!.gitignore
!paypal-in-context.php
!readme.md
!incontext-includes
!incontext-includes/form.js
!incontext-includes/incontext.php
!incontext-includes/sdk
!incontext-includes/sdk/composer.json
